body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    margin-top: 0px;
    font-size: 20px;
    box-shadow: 5px 5px 5px red;
}

#start, #object_status, #status
{
    font-size: 18px;
}

label
{
    color: yellow;
}

.object_name
{
    width: 250px;
}

canvas{
    border-radius: 10px;
    border: 2px solid red;
    margin-top: 130px;
    box-shadow: 5px 5px 5px purple;
}